/* Your css code here! */

.table{
	background-color: white;
	text-align: center;
	table-layout: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.dollars td{
	border: none;
	padding: 2px;
	width: 150px;
	size: absolute;
}

.coins td{
	border: none;
	width: 75px;
	padding: 2px;
	size: absolute;
}

.amount-title {
	font-size: 24px;
}

.dropzone {
	margin: auto;
	height: 250px;
	width: 300px;
	border: 2px;
	border: 2px solid #000;
	position: relative;
}

#clear-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: darkgrey;
    z-index: 10000;
}

.btn-save-spend {
	width: 140px !important;
}

#notes {
	width: 220px;
	margin-left: 10px;
}

#notes-label {
	width: 50px;
	margin-left: 20px;
	margin-top: 5px;
	font-size: 18px;
}

.thought-text {
	font-size: 16px;
	position: absolute;
	right: 58px;
	top: 40px;
	z-index: 3;
}


#thought-cloud {
	height: auto;
	width: 170px;
	position: absolute;
	right: 20px;
	z-index: 2;
}

#piggy-image {
	margin-top: 70px;
	position: relative;
}

.total-title {
	font-size: 40px;
	font-weight: bold;
}

.history-title {
	font-size: 50px;
	font-weight: bolder;
}



