
#wishlistContainer {
  height: 600px;
  width: 800px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}

/* Wishlist items */

#basketball {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 500px;
  top: 200px;
}

#teddyBear {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 200px;
  top: 300px;
}

#rollerSkates {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 400px;
  top: 320px;
}

#trashCan{
    margin-top:350px;
}

/* Add Modal */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.add-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: left;
    font-size: 40px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
  }

.close:hover,
.close:focus {
    color: gray;
    text-decoration: none;
    cursor: pointer;
}

#add-modal-title {
  margin-top: 5px;
  margin-right: 50px;
}

.add-modal-header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: pink;
    color: white;
    text-align: center;
}

#add-modal-body-detail {
  margin-top: 10px;
  margin-left: 10px;
}

.add-modal-detail-name {
  font-size: 25px;
  padding: 5px 10px;
}

.add-modal-detail-input {
  font-size: 25px;
  padding: 5px 10px;
}

.trashModal-body {
  padding: 2px 16px;
  font-size:30px;
  text-align: center;
}

.add-modal-body {
	padding: 2px 16px;
	font-size:30px;
}

.add-modal-footer {
  padding: 2px 16px;
  background-color: white;
  color: white;
  text-align: right;
  height: auto;
  width: 100%;
  object-fit: contain;
  margin-top: 10px;
}

#add-modal-confirm-button {
  padding: 5px 15px;
  margin: 15px 5px;
  font-size: 30px;
  background-color: pink;
  color: white;
}

#add-modal-icon-loader {
  font-size: 22px;
}

#wishListThoughtBubble {
  height: 100%;
  width: 100%;
  object-fit: contain;
  z-index: "-1";
}

#wishListPiggy {
  height: auto;
  width: 100%;
  object-fit: contain;
}

.totalAmount {
	font-size: 50px;
	font-weight: bold;
	/*text-align: center;*/
  margin-top: 600px;
	margin-left: 200px;
}

#myTrashModal{
  z-index: 10;
}


.pricetag{
  white-space:nowrap;
  position:relative;
  margin:0 5px 0 10px;
  displaY:inline-block;
  height:25px;
  border-radius: 0 5px 5px 0;
  padding: 0 25px 0 15px;
  background:#E8EDF0;
  border: 0 solid #C7D2D4;
  border-top-width:1px;
  border-bottom-width:1px;
  color:#999;
  line-height:23px;
}

.pricetag:before{
  position:absolute;
  content:"\25CF";
  color:white;
  text-shadow: 0 0 1px #333;
  font-size:11px;
  line-height:0px;
  text-indent:12px;
  left:-15px;
  width: 1px;
  height:0px;
  border-right:14px solid #E8EDF0;
  border-top:  13px solid transparent;
  border-bottom:  13px solid transparent;
}

#teddyBearTag{
  position: absolute;
  left: 265px;
  top: 290px;
}

#bballTag{
  position: absolute;
  left: 585px;
  top: 200px;
}

#rollerSkatesTag{
  position: absolute;
  left: 450px;
  top: 320px;
}