
#wishlistContainer {
  height: auto;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}

/* Wishlist items */

#basketball {
  height: 80px;
  width: 80px;
  position: absolute;
  left: 500px;
  top: 200px;
}

#teddyBear {
  height: 80px;
  width: 80px;
  position: absolute;
  left: 200px;
  top: 300px;
}

#rollerSkates {
  height: 80px;
  width: 80px;
  position: absolute;
  left: 400px;
  top: 320px;
}

.wishListItem{
  z-index: 1;
}

#trashCan{
    margin-top:350px;
}

/* Add Modal */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Modal Content */
.add-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: left;
    font-size: 40px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
  }

.close:hover,
.close:focus {
    color: gray;
    text-decoration: none;
    cursor: pointer;
}

#select-menu-close {
  color: pink;
  float: left;
  font-size: 15px;
  font-weight: bold;
  padding: 0px 10px;
}

#select-menu-close:hover {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

/* Add Modal */

#add-modal-title {
  margin-top: 5px;
  margin-right: 50px;
}

.add-modal-header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: pink;
    color: white;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#add-modal-body-detail {
  margin-top: 10px;
  margin-left: 10px;
}

.add-modal-detail-name {
  font-size: 25px;
  padding: 5px 10px;
}

.add-modal-detail-input {
  font-size: 25px;
  padding: 5px 10px;
}

#add-modal-name-input{
  border-radius: 8px;
}

#add-modal-amount-input{
  border-radius: 8px;
}

.trashModal-body {
  padding: 2px 16px;
  font-size:30px;
  text-align: center;
}

.add-modal-body {
	padding: 2px 16px;
	font-size:30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.add-modal-footer {
  padding: 2px 16px;
  background-color: white;
  color: white;
  text-align: right;
  height: auto;
  width: 100%;
  object-fit: contain;
  margin-top: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#add-modal-confirm-button {
  padding: 5px 15px;
  margin: 15px 5px;
  font-size: 30px;
  background-color: gray;
  color: white;
  border-radius: 10px;
  cursor: not-allowed;
}

#add-modal-icon-loader {
  font-size: 22px;
}

#select-menu-detail {
  position: absolute;
  display: none;
  z-index: 10;
}

/* Select modal */
.select-menu-detail-button {
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

#select-menu-detail {
  background-color: white;
}

#select-menu-purchase-button {
  width: 100%;
  background-color: pink;
  color: white;
}

#select-menu-edit-button {
  width: 100%;
  background-color: pink;
  color: white;
  cursor: pointer;
}

#select-menu-remove-button {
  width: 100%;
  background-color: pink;
  color: white;
  cursor: pointer;
}

#wishListThoughtBubble {
  position: absolute;
  height: 600px;
  width: 800px;
  padding-left: 0px;
  margin-top: 20px;
  margin-left: -5%;
  object-fit: contain;
  z-index: -1;
}

#wishListPiggy {
  height: auto;
  width: 100%;
  margin-top: 10px;
  object-fit: contain;
  cursor: pointer;
}

#wishListPlusSign {
  height: auto;
  width: 40%;
  object-fit: contain; 
  margin-top: 35px;
  margin-left: 25px;
  cursor: pointer;
}

.totalAmount {
	font-size: 50px;
	font-weight: bold;
  margin-top: 90%;
	margin-left: 30%;
}

#myTrashModal{
  z-index: 10;
}


.pricetag{
  white-space:nowrap;
  position:absolute;
  margin:0 5px 0 10px;
  displaY:inline-block;
  height:30px;
  border-radius: 0 5px 5px 0;
  padding: 0 15px 0 15px;
  /*background: lightgray;*/
  border: 0 solid #C7D2D4;
  border-top-width:1px;
  border-bottom-width:1px;
  border-right-width:1px;
  color: black;
  line-height:27px;
}

.pricetag:before{
  position:absolute;
  content:"\25CF";
  color: white;
  text-shadow: 0 0 1px #333;
  font-size:11px;
  line-height:0px;
  text-indent:12px;
  left:-15px;
  width: 2px;
  height:2px;
  border-right:14px solid #E8EDF0;
  border-top:  13px solid transparent;
  border-bottom:  13px solid transparent;
}


#teddyBearTag{
  position: absolute;
  left: 265px;
  top: 290px;
}

#bballTag{
  position: absolute;
  left: 585px;
  top: 200px;
}

#rollerSkatesTag{
  position: absolute;
  left: 450px;
  top: 320px;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
